<h1>Places I visited</h1>

<ul>
    <% for place in @places%>
        <li>
            <a href="/places/<%= place.id %>"><%= place.name %></a>
        </li>
    <% end %>
</ul>

<p>
    <a href="/places/new">Include a new place</a>
</p>